body{
    font-family: "Robot", sans-serif;
    font-weight: 400;
    font-style: normal;
}
button{
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 24px;
    background-color: #f638d6;
    color: #000000;
    border: 1px solid #000000;
    margin: 50px;
    width: 100px;
    height: 50px;

    
}
#content{
    text-align: center;
}
#list{
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-bottom: 50px;
}
